.Alert {
  position: absolute;
  z-index: 99;
  color: black;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px rgb(35, 36, 48);
  padding: 16px;
  left: 15%;
  box-sizing: border-box;
  transition: all 1s ease-out;
  display: flex;
  justify-content: space-between;
}

.Alert button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  margin-left: 20px;
  outline: none;
  border: 1px solid transparent;
}

.primary {
  background: rgb(66, 66, 190);
  bottom: 15%;
}

.warning {
  background: rgb(223, 142, 85);
  bottom: 25%;
}

.success {
  background: #7fec7f;
  bottom: 35%;
}

.danger {
  background: rgb(245, 112, 112);
  bottom: 45%;
}

@media (min-width: 600px) {
  .Alert {
    width: 500px;
    left: calc(50% - 250px);
  }
}
